input[type=button], input[type=submit]
{
    -moz-box-shadow:2px 3px 5px #888;
    -webkit-box-shadow:2px 3px 5px #888;
    box-shadow:2px 3px 5px #888;
    border:1px solid #888;
    border-radius:5px;
}

input[type=button]:hover, input[type=submit]:hover
{
    background: #333;
    border:1 px solid #ED2438;
    -moz-box-shadow:2px 3px 5px #ED2438;
    -webkit-box-shadow:2px 3px 5px #ED2438;
    box-shadow:2px 3px 5px #ED2438;  
    color:#ED2438;     
}

/*Each task list will be in a small box that will float left - good for responsive design*/
.singleList
{
    max-width:250px;
    min-width:180px;
    border:solid 1px #003366;
    border-radius:20px;
    -moz-box-shadow:4px 6px 10px #003366;
    -webkit-box-shadow:4px 6px 10px #003366;
    box-shadow:4px 6px 10px #003366;
    float:left;
    margin:10px 10px 0 0;
    background-color:#FFFFDB;
}

.singleList p label
{
    font-weight:normal;
    font-size: 1.5em;
}

.singleList p.singleListName
{
    text-align:center;
    margin:10px 5px;
    font-size:1.25eem;
}

.singleList p.singleListTaskCount, .singleList p.singleListStatus
{
    font-size: .8em;
    margin:0;
    margin-left:10px;
}

.singleList p.singleListStatus span
{
    text-transform:uppercase;
    color:#ED2438;
}

.singleList p.singleListActions
{
    text-align:center;
    margin:10px 0;
}

.singleList p.singleListAction span
{
    font-weight:bold;
}

/****** TASK LIST DETAILS VIEW ******/
#divTaskListDetails
{
    -moz-box-shadow:4px 6px 10px #888;
    -webkit-box-shadow:4px 6px 10px #888;
    box-shadow:4px 6px 10px #888;
    max-width:890px; /*This allows for 5 tasks across, any additional will wrap to another line...*/
    margin-top:5px;
    border:1px solid #888;
    padding:0 0 10px 10px;
    border-radius:5px;
    background-color:#FFFFDB;
}

#divTaskListDetails h2
{
    margin-top:15px;
    margin-bottom:15px;
    text-transform:uppercase;
}

#divTaskListDetails .focusedListSummary
{
    float:left;
    margin-left:3%;
    margin-bottom:5px;
}

.focusedListSummary a
{
    background-color:#ED2438;
    border-radius:5px;
    text-decoration:none;
    padding:2px 3px;
    margin-left:5px;
}

.focusedListSummary a:hover
{
    background-color:#333;
}

.focusedListSummary .bracket
{
    font-weight:bold;
    font-size:1.5em;
}

.focusedListSummary .taskCount
{
    color:#003366;
    font-weight:bold;
}

.focusedListSummary .listStatus
{
    color:#ED2438;
    font-weight:bold;
}

#divTaskListDetails h3
{
    color:#ED2438; 
    text-decoration:underline overline;
    text-align:center;
    margin-bottom:5px;
    margin-top:10px;
    font-size:1.25em;
}

#divTaskListDetails td
{
    padding:1px 5px 0 0;    
}

#divTaskListDetails .list-tasks
{
    -moz-box-shadow:4px 6px 10px #888;
    -webkit-box-shadow:4px 6px 10px #888;
    box-shadow:4px 6px 10px #888;
    max-width:700px;
    margin-top:5px;
    margin-right:10px;
    border:1px solid #888;
    padding:0 0 10px 10px;
    border-radius:5px;
    clear:both;
    background-color: #CDFFFF;
}

#divTaskListDetails p
{
    clear:both;
}

/*Each task will be in a small box that will float left - good for responsive design*/
.singleTask
{
    max-width:180px;
    min-width:160px;
    border:solid 1px #003366;
    border-radius:20px;
    -moz-box-shadow:4px 6px 10px #003366;
    -webkit-box-shadow:4px 6px 10px #003366;
    box-shadow:4px 6px 10px #003366;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#FFFFDB;
}

.singleTask p label
{
    font-weight:normal;
    font-size: 1.5em;
}

.singleTask p.singleTaskName
{
    text-align:center;
    margin:10px 0;
    font-size:1.25eem;
}

.singleTask p.singleTaskDescription, .singleTask p.singleTaskStatus
{
    font-size: .8em;
    margin:0;
    margin-left:10px;
}

.singleTask p.singleTaskStatus span
{
    text-transform:uppercase;
    color:#ED2438;
}

.singleTask p.singleTaskActions
{
    text-align:center;
    margin:10px 0;
}

.singleTask p.singleTaskAction span
{
    font-weight:bold;
}

/****** END TASK LIST DETAILS VIEW ******/




/******* TASK DETAIL MODAL ******/

/*
#taskDetails
{
    margin:auto;
    background-color: #FFFFDB;
    border-radius:20px;
    padding:10px 5px;
    text-align:left;
    border: 1px solid #ED2438;
    box-shadow: 3px 3px 2px 0px;    
}
*/

#taskDetails label
{
    font-weight:normal;
    margin-bottom:5px;
    margin-top:0;
}

#taskDetails .itemHeader
{
    width:135px;
    margin-right:5px;
    text-align:right;
    float:left;
    font-weight:bold;
    clear:left;
}

#taskDetails label.itemHeaderMain
{
    color:#ED2438;
    text-align:center;
    margin-top:10px;
    font-weight:bold;
    clear:both;
}

#taskDetails label.clearBoth div.textArea
{
    width:180px;
    float:left;
}

#taskDetails p
{
    text-align:center;
}

/******* END TASK DETAIL MODAL ******/

/******* TASK EDIT MODAL ******/

/*
#taskEdit
{
    margin:auto;
    background-color: #FFFFDB;
    border-radius:20px;
    padding:10px 5px;
    text-align:left;
    border: 1px solid #ED2438;
    box-shadow: 3px 3px 2px 0px;    
}
*/

#taskEdit form
{
    margin-left:10px;
    padding-top:10px;
}

#taskEdit p
{
    text-align:center;
    margin-top:20px;
}

textarea
{
    width:300px;
}

/******* END TASK EDIT MODAL ******/


/****** VARIOUS INPUT FORMS ******/
#divAddNewTaskList, #divEditTaskList, #divAddNewTask, #taskDetails, #taskEdit
{
    -moz-box-shadow:4px 6px 10px #888;
    -webkit-box-shadow:4px 6px 10px #888;
    box-shadow:4px 6px 10px #888;
    max-width:350px;
    margin-top:5px;
    border:1px solid #888;
    padding:0 0 10px 10px;
    border-radius:5px;
    background-color:#FFFFDB;
}



.clearBoth
{
    clear:both;
}

